/* Handling the status bar mode */
@media (max-height: 4.5em) {
  html {
    font-size: 10px;
  }

  body {
    margin: 0;
  }


  .handled-call,
  #group-call {
    background-color: #00adad;
    background-repeat: repeat-x;
    background-size: auto 4rem;
    color: white;
    font-size: 1.7rem;
    padding-left: 1rem;
    padding-right: 2rem;
    height: 40px;
  }

  .handled-call.ended {
    background-color: rgba(107, 0, 0, 0.9);
    background-image: none;
  }

  .handled-call.ended .duration > span {
    font-weight: 500;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .handled-call.held,
  #group-call.held {
    background-color: #333;
    background-image: none;
  }

  #main-container,
  #incoming-container,
  #views,
  #lockscreen-header,
  #group-call-details,
  .additionalContactInfo {
    display: none;
  }

  #calls .handled-call,
  #calls #group-call:not([hidden]) {
    display: flex;
    align-items: center;
  }

  .numberWrapper {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .duration {
    display: flex;
    align-items: flex-end;
  }

  .number {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.5rem;
    font-style: italic;
  }

  .direction-status-bar:before {
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: 3rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  .incoming .direction-status-bar:before {
    background-image: url('images/status_bar/actionicon_activecall_incomingcall_active.png');
  }

  .outgoing .direction-status-bar:before {
    background-image: url('images/status_bar/actionicon_activecall_outgoingcall_active.png');
  }

  .held .direction-status-bar:before {
    background-image: url('images/status_bar/actionicon_activecall_paused_active.png');
  }

  .ended .direction-status-bar:before {
    background-image: url('images/shared/actionicon_activecall_hangup_small.png');
  }

  .isTimer {
    display: flex;
    align-items: center;
    font-feature-settings: "tnum";
  }

  .muted .isTimer:before {
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    background-image: url('images/status_bar/actionicon_activecall_mute_small_active.png');
  }

  /* Don't display held calls unless there is only one call */
  body:not(.single-line) #calls .handled-call.held {
    display: none;
  }

  #calls > section .switch-calls {
    display: none;
  }

  #bluetooth-menu {
    display: none;
  }

  .sim {
    display: none;
  }
}
