#permission-screen {
  display: none;
  height:100%;
  width:100%;
  background-color: rgb(51,51,51);
}

#screen.software-button-enabled #permission-dialog {
  bottom: var(--software-home-button-height);
}

@media (orientation: landscape) {
  #screen.software-button-enabled #permission-dialog {
    bottom: 0;
  }
}

#screen:-moz-full-screen-ancestor > #permission-screen {
  top: 0;
  height: 100%;
}

#permission-screen.visible {
  pointer-events: auto;
  display: inline-block;
}

#permission-screen ::before {
    width: 0.1rem;
    height: 3rem;
}

#permission-screen *{
  outline:none;
}

#permission-screen h1{
  color: #fff;
  background-color: rgb(77,77,77);
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0rem 1.5rem;
  word-wrap: break-word;
}

#permission-screen h2{
  word-wrap: break-word;
  width:calc(100% - 20px);
  color: rgb(199, 199, 199);
  font-size: 20px;
  margin: 0 10px;
  padding: 9px 0;
  font-weight: 400;  /* Regular */
  border-bottom: 0.2rem solid rgb(199, 199, 199);
}

#permission-screen h3 {
    border-bottom: none;
}

#permission-message {
  margin: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 2.2rem;
  font-weight: 300;
  font-style: italic;
  color: #dcdcdc;
  background-repeat: no-repeat;
  background-size: 6.4rem;
  background-position: 0 50%;
  word-wrap: break-word;
  line-height: 110%;
}

*.permission-focused{
  background-color: #00B965;
}

html[dir="rtl"] #permission-message {
  background-position: right 0 top 50%;
}

#info-link.hidden {
  display: none;
}

#permission-more-info {
  margin-left: 1rem;
  padding-bottom: 1.2rem;
  font-size: 1.8rem;
}

#permission-more-info.hidden {
  display: none;
}

#permission-more-info a {
  color: white;
  outline: none;
}

#permission-more-info-box {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  max-height: 13rem; /* XXX: use magic calc(); expression instead */
  overflow-y: scroll;
}

#permission-more-info-box.permission-focused{
   outline: 0.2rem solid #00B965;
   background: none;
}

#permission-more-info-box.checked{
   background-color: #00B965;
}

#permission-more-info-box.hidden {
  display: none;
}

#permission-remember-section {
  font-size: 1.8rem;
  font-weight: 300;
  color: #fbfbfb;
  display: none;
  padding: 1.2rem;
  border-bottom: 0.1rem solid #686868;
}

#permission-screen[data-type] #permission-remember-section {
  display: block;
}

#permission-screen[data-type] #permission-icon {
  display: inherit;
}

#permission-screen[data-type] #permission-message {
  -moz-padding-start: 7rem;
}

#permission-device-selector {
  font-size: 1.8rem;
  font-weight: 300;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  -moz-padding-start: 1.2rem;
  -moz-padding-end: 1.2rem;
}

#permission-device-selector.hidden {
  display: none;
}

#permission-devices {
  margin: 0;
  padding: 0;
}

#permission-devices li.device-cell {
  position: relative;
  list-style-type: none;
  padding: 1rem;
  height: 3rem;
}

#permission-devices div {
  font-weight: 400;  /* Regular */
  color: white;
  font-size: 20px;
  padding-left:1rem;
  width:calc(100% - 5rem);
  float: left;
}


#permission-screen .checkbox  {
  background:url(images/Non-Highlight_Non-Selected_Icon.png) no-repeat;
  width: 2.6rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  height: 2.6rem;
  float: right;
  background-repeat: no-repeat;
}

#permission-screen .checkbox.checked  {
  background:url(images/Non-Highlight_Selected_Icon.png) no-repeat;
}

#permission-screen .permission-focused > .checkbox {
  background:url(images/Highlight_Non-Selected_Icon.png) no-repeat;
}
#permission-screen .permission-focused > .checkbox.checked {
  background:url(images/Highlight_Selected_Icon.png) no-repeat;
}

#permission-screen[data-type="geolocation"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_Geolocation.png);
}

#permission-screen[data-type="fmradio"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_FMRadio.png);
}

#permission-screen[data-type*="camera"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_Camera.png);
}

#permission-screen[data-type*="wifi"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_WifiInformation.png);
}

#permission-screen[data-type="contacts"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_Contacts.png);
}

#permission-screen[data-type*="device-storage"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_DeviceStorage.png);
}

#permission-screen[data-type="video-capture"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_VideoRecorder.png);
}

#permission-screen[data-type="camera-selector"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_VideoRecorder.png);
}

#permission-screen[data-type="audio-capture"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_Microphone.png);
}

#permission-screen[data-type="media-capture"] #permission-message {
  background-image: url(images/PermissionsDialogIcons_VideoAndMic.png);
}
