<!-- need this section element to keep building blocks happy. Too bad it
  expects a section element -->
<section class="skin-organic bbshim" role="region">
  <header class="sup-account-header">
    <h1 class="sup-account-header-label"
        data-l10n-id="setup-account-header3"></h1>
  </header>
  <form class="sup-progress-confirm" role="dialog" data-type="confirm" data-statuscolor="background">
    <section>
      <h1 data-l10n-id="setup-progress-wait-msg"></h1>
      <p class="sup-progress-container"><progress></progress></p>
    </section>
  </form>
</section>
