#volume {
  --normal-volume-icon-size: 4.4rem;
  --larger-volume-icon-size: 6.6rem;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
}

#volume * {
  font-family: 'Open Sans Regular', sans-serif;
}

.volume-title {
  position: absolute;
  top: var(--statusbar-height);
  left: 0;
  right: 0;

  /* .h1 style */
  font-size: 1.7rem;
  font-family: 'Open Sans Light';
  font-weight: 300;
  line-height: var(--header-height); /* ~ 8.7vh in spec */
  text-transform: capitalize;
}

#volume-info {
  flex: 1 0 50%;
}

#info-title {
  font-size: 1.7rem;
  color: var(--color-gs00);
}

#info-title:not(:empty) {
  margin-top: 1rem;
}

#info-icon {
  width: 100%;
  line-height: 1em;
  font-size: var(--normal-volume-icon-size);
}

#info-icon:-moz-dir(rtl)::before {
  transform: rotateY(180deg);
}

#info-icon.silent::before {
  content: 'mute-32px';
  font-size: var(--larger-volume-icon-size);
}

#info-icon.vibrate::before {
  content: 'vibrate-32px';
  font-size: var(--larger-volume-icon-size);
}

#volume-level {
  flex: 1 0 50%;
}

#volume-level:empty {
  display: none;
}

#volume-bar {
  position: absolute;
  top: calc(1.5rem + var(--header-height) + var(--statusbar-height));
  left: 0;
  right: 0;
  bottom: calc(1.5rem + var(--softkeybar-height));
  width: 1.2rem;
  margin: auto;
  border-radius: 0.6rem;
  overflow: hidden;
  visibility: hidden;
}

#volume-bar.visible {
  visibility: visible;
}

#volume-bar::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    var(--color-gs45),
    var(--color-gs45) calc(50% - 3px),
    transparent 0,
    transparent 50%,
    var(--highlight-color) 0
  );
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: inherit; /* change background-position-y(0% ~ 100%) of parent for each volumn level */
}
