<element name="apn-editor" extends="section">
  <template>

    <gaia-header data-href="#apn-list">
      <h1 data-l10n-id="apn-editor-header"></h1>
    </gaia-header>

    <div class="panel">
      <ul role="menu" class="apnSettings-advanced">
        <li role="menuitem">
          <p data-l10n-id="apn" class="input-description"></p>
          <input type="text" x-inputmode="verbatim" class="apn" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="identity" class="input-description"></p>
          <input type="text" class="user" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="password" class="input-description"></p>
          <input type="password" class="password" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="httpProxyHost" class="input-description"></p>
          <input type="text" class="proxy" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="httpProxyPort" class="input-description"></p>
          <input type="tel" x-inputmode="digits" class="port" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="mmsproxy" class="input-description"></p>
          <input type="text" x-inputmode="verbatim" class="mmsproxy" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="mmsport" class="input-description"></p>
          <input type="tel" x-inputmode="digits" class="mmsport" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="mmsc" class="input-description"></p>
          <input type="text" x-inputmode="verbatim" class="mmsc" dir="auto" />
        </li>
        <li role="menuitem">
          <p data-l10n-id="apn-authType" class="apn-authtype">Authentication</p>
          <span class="button icon icon-dialog">
            <select class="authtype" data-track-class="apn-authtype">
              <option value="notDefined" data-l10n-id="apn-authType-notDefined"></option>
              <option value="none" data-l10n-id="apn-authType-none"></option>
              <option value="pap" data-l10n-id="apn-authType-pap"></option>
              <option value="chap" data-l10n-id="apn-authType-chap"></option>
              <option value="papOrChap" data-l10n-id="apn-authType-papOrChap"></option>
            </select>
          </span>
        </li>
        <li role="menuitem">
          <p data-l10n-id="apn-type" class="input-description"></p>
          <input type="text" x-inputmode="verbatim" class="types" dir="auto"
            disabled="disabled"/>
        </li>
        <li role="menuitem">
          <p data-l10n-id="apn-protocol" class="apn-protocol-select"></p>
          <span class="button icon icon-dialog">
            <select class="protocol" data-track-class="apn-protocol-select">
              <option value="notDefined" data-l10n-id="apn-protocol-notDefined"></option>
              <option value="IP" data-l10n-id="apn-protocol-ip"></option>
              <option value="IPV6" data-l10n-id="apn-protocol-ipv6"></option>
              <option value="IPV4V6" data-l10n-id="apn-protocol-ipv4v6"></option>
            </select>
          </span>
        </li>
        <li role="menuitem">
          <p data-l10n-id="apn-roaming-protocol" class="apn-roaming-protocol"></p>
          <span class="button icon icon-dialog">
            <select class="roaming_protocol" data-track-class="apn-roaming-protocol">
              <option value="notDefined" data-l10n-id="apn-protocol-notDefined"></option>
              <option value="IP" data-l10n-id="apn-protocol-ip"></option>
              <option value="IPV6" data-l10n-id="apn-protocol-ipv6"></option>
              <option value="IPV4V6" data-l10n-id="apn-protocol-ipv4v6"></option>
            </select>
          </span>
        </li>
      </ul>
    </div>

    <panel data-path="panels/apn_editor/panel"></panel>

  </template>
</element>

