<element name="fxa-check-password" extends="section">
  <template>
    <section class="vertical">
      <p class="fxa-intro" id="fxa-intro" role="menuitem">
        You need to enter you password.
      </p>
      <ul class="tcl-nav-box">
        <li role="menuitem">
          <label for="fxa-email-input" data-l10n-id="fxa-signout-email">You Account</label>
          <span id="fxa-email-input" class="fxa-email-box"></span>
        </li>
        <li class="focusable" role="menuitem">
          <label for="fxa-pw-input" data-l10n-id="fxa-password">Password</label>
          <input id="fxa-pw-input" placeholder="Password" data-l10n-id="fxa-password" type="password">
        </li>
        <li class="focusable" role="menuitem">
          <label class="pack-checkbox" for="fxa-show-pw">
            <input id="fxa-show-pw" type="checkbox"/>
            <span data-l10n-id="fxa-show-password"></span>
          </label>
        </li>
      </ul>
    </section>
    <script src="js/screens/fxam_check_password.js"></script>
  </template>
</element>
